* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sen", sans-serif;
  font-family: "Poppins", sans-serif;
}
/* Common */
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  background: #171100;
  border-radius: 999px;
}
.btn:hover {
  opacity: 0.9;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.line-camp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-camp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.break-all {
  word-break: break-all;
}
/* Header */
.header {
  background-color: #fffcf4;
}
.header .fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  padding: 8px 21px;
  font-size: 1.6rem;
  color: #5f5b53;
}
.nav a:hover,
.nav li.active a {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
}
.sign-btn {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
/* Hero */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}
.hero .body {
  display: flex;
}
.hero .media-block {
  width: 48%;
  position: relative;
}
.media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.hero .hero-sumary {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 270px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
.hero-sumary .item {
  display: flex;
  align-items: center;
}
.hero-sumary .item + .item {
  margin-top: 22px;
}

.hero-sumary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff9e8;
}
.hero-sumary .item:nth-child(2) .icon {
  background: #fcefff;
}
.hero-sumary .item:nth-child(3) .icon {
  background: #ebeaff;
}
.hero-sumary .info {
  margin-left: 16px;
}
.hero-sumary .label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 186%;
  color: #5f5b53;
}
.hero-sumary .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 167%;
  color: #171100;
}
.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}
.hero .heading {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #171100;
}
.hero .desc {
  margin-top: 22px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 167%;
  color: #5f5b53;
}

.hero .cta-group {
  margin: 38px 0 48px;
  display: flex;
  align-items: center;
}
.hero .hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: #ffb900;
  border-radius: 32px;
}
.hero .watch-video {
  display: flex;
  align-items: center;
  margin-left: 28px;
  border: none;
  background: #fffcf4;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}
.cta-group span {
  font-family: "Poppins";
  margin-left: 14px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 167%;
  color: #171100;
}
.starts strong {
  margin: 8px 0 0 -28px;
}
.starts strong {
  padding: 0 10px 0 28px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 123%;
  color: #171100;
}
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.info .heading {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 126%;
  letter-spacing: -0.02em;
  color: #171100;
}
.info .desc {
  margin-top: 16px;
  max-width: 458px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 167%;
  color: #5f5b53;
}
.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .controls {
  display: flex;
  gap: 18px;
}
.popular-top .controls-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ffb900;
  color: #ffb900;
  background: transparent;
}
.popular-top .controls-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #ffb900;
}
.popular .course-list {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}
.popular .course-item {
  flex: 1;
  background: #ffffff;
  border: 1px solid #e2dfda;
  border-radius: 12px;
}
.popular .course-item:hover {
  border-color: transparent;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}
.popular .course-item .thumb {
  text-decoration: none;
  width: calc(100% + 2px);
  margin: -1px;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.popular .course-item .info {
  padding: 16px 22px 22px;
}
.popular .course-item .rating,
.popular .course-item .foot,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .course-item .title {
  padding-right: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 167%;
  color: #171100;
}
.popular .rating .value {
  margin-left: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 175%;
  color: #fea31b;
}
.popular .course-item .desc {
  font-family: "Poppins";
  margin-top: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 186%;
  color: #5f5b53;
}
.popular .course-item .foot {
  margin-top: 12px;
}
.popular .course-item .price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 167%;
  color: #171100;
}
.popular .course-item .book-btn {
  border: none;
}
.popular .course-item .book-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #fea31b;
}
/* FeedBack */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}
.feedback-list {
  display: flex;
  overflow: hidden;
}
.feedback-item {
  display: flex;
  width: 100%;
  flex-shrink: 0;
}
.feedback .feedback-item {
  display: flex;
}
.feedback .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}
.feedback-item .title {
  margin-top: 18px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 142%;
  color: #f7f7f7;
}
.feedback-item .desc {
  margin-top: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 186%;
  color: #bfbcb3;
}
.feedback-item .dots {
  display: flex;
  margin-top: 28px;
}
.feedback-item .dots .dot {
  margin-right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
}
.feedback-item .dot.active {
  background: #ffb900;
}
.feedback-item .content {
  width: 66%;
  margin-left: auto;
}
.feedback-item blockquote {
  margin-left: 30px;
  font-weight: 400;
  font-style: italic;
  font-size: 2.6rem;
  line-height: 154%;
  color: #ffffff;
}
/* Features */
.features {
  margin-top: 135px;
  padding: 65px 0;
}
.body {
  display: flex;
  justify-content: space-between;
}
.images {
  display: flex;
  gap: 30px;
}

.features .images img {
  width: 270px;
  height: 404px;
  object-fit: cover;
  border-radius: 16px;
}
.features .images .lower {
  margin-top: 34px;
}
.features .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 41%;
}
.features .content .heading {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 126%;
  letter-spacing: -0.02em;
  color: #171100;
}
.features .content .desc {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 175%;
  color: #5f5b53;
}
.features .content .cta-btn {
  min-width: 137px;
  margin-top: 32px;
  color: #fff;
  background-color: #ffb900;
}
.features-2nd {
  margin-top: 70px;
}
.features-2nd .body {
  flex-direction: row-reverse;
}
.features-2nd .content {
  width: 49%;
}
.features-2nd .images img {
  width: 470px;
  height: 440px;
}
